*{
    margin: 0px;
    padding: 0px;
}
/* banner design starts here  */

.banner-container{
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: center;
    padding: 40px 5px 0px 5px;
}
.banner-description{
    width: 50%;
    padding: 70px 0px 70px 140px;
}
.banner-picture{
    width: 50%;
    text-align: center;

}
.banner-title{
    font-size: 45px;
    font-weight: 900;
}
.banner-para{       /*shared selector*/
    font-size: 15px;
    margin-top: 20px;
    color: rgba(39, 39, 39, 0.60);
}

.banner-image{
    width: 350px;
}

.btn{           /*shared selector*/
    padding: 10px 20px;
    border: none;
    background-color: #E55473;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    border: 1px solid #E55473;
    transition: all .3s;
    cursor: pointer;
}
.btn:hover{         /*shared selector*/
    background: none;
    color: black;
}

/* banner design ends here  */

/* featured design starts here  */


#around{
    width: 75%;
    margin: 70px auto;    
}
.flower-card img{
    width: 160px;
    height: 200px;
    border-top-left-radius: 48%;
    border-top-right-radius: 48%;
}
.card-image-1{
    background-color: rgba(167, 33, 98, 0.15);
    padding: 40px 30px 0px 30px;
}
.card-image-2{
    background-color: rgba(5, 151, 160, 0.15);
    padding: 40px 30px 30px 30px;
    height: 173px !important;
}
.card-image-3{
    background-color: rgba(71, 125, 17, 0.15);
    padding: 40px 30px 0px 30px;
}
.flower-card{
    width: 250px;
    height: 300px;
}
.featured-flower-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 40px; */
    margin-top: 40px;
}
.flower-name{
    text-align: center;
    margin-top: 15px;
    text-decoration: underline;
    padding-right: 20px;
}
.featured-title{        /*shared selector*/
    font-size: 32px;
    text-align: center;
    margin-bottom: -10px;
}
.featured-para{     /*shared selector*/
    text-align: center;
    margin-bottom: 18px;
}

/* featured design ends here  */

/* support design starts from here  */

.support-container{
    background-color: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 20px;
    margin: 40px 18px;
    /* width: 89%; */
}
.support-image{
    width: 70px;
    text-align: center;
}
.banner-paras{
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}
.same{
    text-align: center;
    padding: 30px 10px;
}
/* support design ends here  */

/* hot deal section design starts from here  */

.hot-deal-image{
    width: 200px;
}
.hot-deal-container{
    background-color: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    padding: 30px;
}
.hot-deal-title{        /*shared selector*/
    font-size: 26px;
    margin-bottom: 10px;
}
.colored{           /*shared selector*/
    color: #E55473;
}
.card-images{
    width: 220px;
}

/* hot deal design ends here  */

/* latest section design starts from here  */

.latest-deal-section{
    padding: 80px;
    background-image: url("flower-asset/Rectangle\ 9.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 80px 0px;
    text-align: center;
}
.form{
    margin-top: 20px;
}
.form>input{
    padding: 11px;
    border: none;
    border-radius: 8px;
    margin-right: 20px;
    width: 50%;
    font-size: 13px;
}

/* latest design ends here  */

/* contact section design starts from here  */


.contact-section{
    background-color: rgba(229, 84, 115, 0.05);
    padding: 50px 50px 0px 50px;
}
.contact-section-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0px;
    padding: 10px;
}
.contact-description{
    margin: 70px;
    width: 60%;
}
.social-links{
    display: flex;
    gap: 20px;
    color: #E55473;
    margin-top: 20px;
}
.icons{
    border-radius: 50%;
    border: 1px solid #E55473;
    color: white;
    background-color: #E55473;
    padding: 10px;
    transition: all .3s;
}
.icons:hover{
    background: none;
    color: black;
}
.contact-form{
    width: 60%;
}
.contact{
    display: block;
    padding: 5px;
}
#username , #email , #message{
    width: 80%;
    padding: 15px;
    border: none;
    border-radius: 7px;
    margin: 5px 0px;
    resize: none;
    box-shadow: 0px 0px 2px gray;
}
.center{
    text-align: center;
}

/* contact design ends here  */

/* footer section design  */

.footer-section{
    background-color: #111010;
    padding: 100px;
    text-align: center;
}

.white{         /*shared selector*/
    color: white;
    margin-bottom: 15px;
}
.com{
    color: rgba(255, 255, 255, 0.445);
}
/* footer section design ends  */